menu {
    width: 100px;
    height: 100%;
    background-color: #19162c;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);

}  
menu img {
    width: 40px;
    padding-top: 30px;
}
menu ul {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
menu ul li {
    list-style-type: none;
    position: relative;
    width: 100%;
    margin: 20px -25px;
}
menu ul li a{
    color: #8c8a95;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

menu ul li a::before {
    position: absolute;
    content: "";
    top: 2.5px;
    left: 3.5px;
    width: 0px;
    height: 20px;
    background: #b1147d;
    border-radius: 50%;
}
menu ul li:hover a {
    color: #b1147d;
}
menu ul li:hover a::before{
    width: 20px;
    transition: all 0.3s;
}

menu ul li.active a{
    color: #b1147d;
}

menu ul li.active a::before{
    width: 20px;
    transition: all 0.3s;
}
.mini-menu {
    margin-top: auto;
}

@media screen and (max-width: 525px){
    menu {
        min-width: 68px;
        width: 68px;
    }
}