.menu {
    margin: 0;
    width: 100px;
    height: 100%;
    background: #19162c;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    position: sticky;
    top: 0;
}
.menu img {
    width: 40px;
    padding-top: 30px;
}
.menu .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    margin-left: -18px;
}
.menu .main ul li {
  list-style: none;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 20px -2px;
}
.menu .main ul li a {
    color: #8c8a95;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu .main ul li a::before {
    position: absolute;
    /* content: ""; */
    top: 5px;
    left: -10px;
    top: 2.5px;
    left: 3.5px;
    width: 0px;
    height: 20px;
    background: #b1147d;
    border-radius: 50%;
}
.main ul li:hover a::before {
    color: #b1147d;
}
.main ul li.active a::before{
    width: 20px;
    transition: all 0.3s;
}

.main ul li.active a{
    color: #b1147d;
}

.mini-menu {
    margin-top: auto;
}

@media only screen and (max-width: 525px){
    .menu {
        min-width: 68px;
        /* width: 68px; */
        /* text-align: center; */
     } 
}